# Ignore scan files
*.mhd
*.raw
*.AIM*
*.vtk
*.ISQ

# Ignore presentations and reports pdf
*.pdf

# Ignore pictures because high definition is too large
*.png
*.svg
*.JPG
*.jpg

# Ignore auxiliary tex files
*.gz
*.aux
*.nav
*.snm
*.toc

# Ignore Abaqus files
*.inp
*.odb

# Ignore image files
*.nii